@model CarItem
@{
    ViewData["CardHeader"] = "Are you sure about deleting this item?";
    ViewData["show-confirm-detele-form"] = true;
    ViewData["Title"] = $"Delete {Model.Model}";
    
}
<div class=" d-flex flex-wrap">
    <partial name="_ViewCar" model="Model" />
</div> 