@model PageListView
@{

    ViewData["Title"] = "Home";
    ViewData["show-view-detail-btn"] = true;
    ViewData["show-options-btn"] = true;
}
@if (Model !=null)
{

    @if (Model.Cars != null)
    {
        @if (Model.Cars.Count() > 0)
        {

            <div class=" d-flex flex-wrap gap-2">
                @foreach (CarItem carItem in Model.Cars)
                {
                    <partial name="_ViewCar" model="carItem" />
                }
            </div>
            <div page-model="@Model.PageItem" page-action="Index"
                 page-class="btn" class="btn-group pull-right m-1"
                 page-selected-class="btn-primary" page-normal-class="btn-outline-secondary"
                 is-page-selected="true"></div>
        }
        else
        {
            <em>No car sportlight 😪😩</em>
        }
    }
}